

.emoji-picker {
    display: inline-block;
    vertical-align: top;
    border: solid 1px #ddd;

    .emoji-category {

        &-heading {
            padding: 10px 6px 6px;
            font-weight: 600;
            font-size: 18px;
        }

        &-list {
            padding: 6px 4px;
            background: #f7f7f7;

            &-item {
                position: relative;
                display: inline-block;
                vertical-align:top;
                margin: 0 2px;
                width: 32px;
                height: 32px;
                opacity: 0.75;
                cursor: pointer;

                &:after {
                    content: '';
                    position: absolute;
                    pointer-events: none;
                }

                &:hover {
                    &:after {
                        left: 2px; 
                        right: 2px;
                        top: 100%;
                        bottom: 0;
                        border: solid 1px rgba(0, 0, 0, .75);
                        border-radius: 0;
                    }
                }

                &.--active { 
                    &:after {
                        left: -2px; 
                        right: -2px;
                        top: -2px;
                        bottom: -2px;
                        border: solid 2px rgba(0, 0, 0, .75);
                        border-radius: 4px;
                    }
                }

                &:hover { 
                    opacity: 1; 
                }

                & > * {
                    margin: (32px - 24px) / 2;
                }
            }
        }
        
        &-objects {
            width: 24px; height: 24px;
            background: url('emojicats.png') -2px -2px;
        }
        
        &-people {
            width: 24px; height: 24px;
            background: url('emojicats.png') -30px -2px;
        }
        
        &-symbols {
            width: 24px; height: 24px;
            background: url('emojicats.png') -58px -2px;
        }
        
        &-travel {
            width: 24px; height: 24px;
            background: url('emojicats.png') -86px -2px;
        }
        
        &-activity {
            width: 24px; height: 24px;
            background: url('emojicats.png') -114px -2px;
        }
        
        &-flags {
            width: 24px; height: 24px;
            background: url('emojicats.png') -142px -2px;
        }
        
        &-food {
            width: 24px; height: 24px;
            background: url('emojicats.png') -170px -2px;
        }
        
        &-nature {
            width: 24px; height: 24px;
            background: url('emojicats.png') -198px -2px;
        }
    }

    .emoji-search {
        padding: 6px 04px;

        & > input {
            box-sizing: border-box;
            width: 100%;
            padding: 4px 6px;
            font-size: 16px;
            border: solid 1px #ddd;
            border-radius: 4px;
        }
    }

    .emoji-list {
        padding: 0px 4px;

        &-item {
            display: inline-block;
            vertical-align:top;
            margin: 0 2px;
            width: 32px;
            height: 32px;
            border-radius: 4px;
            cursor: pointer; 
            
            &:hover { background: #eee; }

            .emoji {
                font-size: 24px;
                margin: (32px - 24px) / 2;
            }
        }
    }

    .emoji-options {
        display: flex;
        justify-content: flex-end;
        padding: 6px 4px 12px;

        .emoji-diversity {
            position: relative;
            vertical-align: top;
            margin: 0 4px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            cursor: pointer;

            @mixin diversity($color) {
                background-color: $color;
                &:after { border-color: $color }
            }

            &-default { @include diversity(#FFDE5C) }
            &-1f3fb { @include diversity(#FFE1BB) }
            &-1f3fc { @include diversity(#FFD0A9) }
            &-1f3fd { @include diversity(#D7A579) }
            &-1f3fe { @include diversity(#B57D52) }
            &-1f3ff { @include diversity(#8B6858) }

            &.--active {
                &:after {
                    content: '';
                    position: absolute;
                    top: -3px;
                    left: -3px;
                    right: -3px;
                    bottom: -3px;
                    border-width: 2px;
                    border-style: solid;
                    border-radius: 50%;
                }
            }
        }
    }

    .emoji-preview {
        box-sizing: border-box;
        height: 48px;
        padding: 10px 10px 6px;
        background: #f7f7f7;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .emoji {
            font-size: 32px;
            margin-right: 5px;
        }
    }

}


